data/final_ellipse_2d_modes_grid.csv filter=lfs diff=lfs merge=lfs -text
data/pinn_ellipse_2d_symmetry_modes_grid.csv filter=lfs diff=lfs merge=lfs -text
data/ellipse_symmetry_modes_grid.csv filter=lfs diff=lfs merge=lfs -text
